<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group3.movieguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieGuide">
        <activity
            android:name=".Presentation.QuizResults"
            android:exported="false"
            android:parentActivityName=".Presentation.HomeActivity"
            android:label="Your Quiz Results!"/>
        <activity
            android:name=".Presentation.Quiz"
            android:exported="false"
            android:label="Start Quiz"
            android:parentActivityName=".Presentation.HomeActivity"/>
        <activity
            android:name=".Presentation.QuizQuestions"
            android:exported="false"
            android:label="Quiz"
            android:parentActivityName=".Presentation.HomeActivity"/>
        <activity
            android:name=".Presentation.MovieSearchActivity"
            android:exported="false"
            android:label="Search"
            android:parentActivityName=".Presentation.HomeActivity" />
        <activity
            android:name=".Presentation.AccountCreationActivity"
            android:exported="true"
            android:label="Account Creation"
            android:parentActivityName=".Presentation.HomeActivity" />
        <activity
            android:name=".Presentation.DescriptionActivity"
            android:exported="true"
            android:label="Description"
            android:parentActivityName=".Presentation.MovieSearchActivity" />
        <activity
            android:name=".Presentation.LoginActivity"
            android:exported="true"
            android:label="Login"
            android:parentActivityName=".Presentation.HomeActivity" />
        <activity
            android:name=".Presentation.MovieFilterActivity"
            android:exported="true"
            android:label="Filters"
            android:parentActivityName=".Presentation.MovieSearchActivity" />
        <activity
            android:name=".Presentation.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>